* {
    font-family: monospace;
    transition: all 0.5s;
}

section{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    position: relative;
}

.title::after {
    content: "";
    height: 60%;
    width: 85%;
    background-color: #bdb340;
    display: block;
    position: absolute;
    bottom: -5px;
    right: -15px;
    z-index: -20;
}